<form action="postuser" method="post">
    <fieldset>
      <legend>Create a new user hbs</legend>
      <label>
        Username:
        <input type="string" name="username" /><br>
        <label>
        Password:
        <input type="string" name="email" /><br>
        <input type="password" name="password" /><br>
        <select name="accessLvl">
          <option value="2">ASM</option>
          <option value="3">AMS Service Transition</option>
          <option value="4">App Support</option>
          <option value="1">Admin</option>
        </select>
        <br><br><input type="submit" value="Create user" />
      </label>
    </fieldset>
  </form>